*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7) , rgba(4,9,30,0.7)) , url(bgfotoo.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.topbarbox{
    line-height: 1.2rem;
    color: antiquewhite;
    background-color: rgb(100, 156, 100);
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: rgb(174, 187, 155);
    text-decoration: none;
    font-size: 15px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background:olivedrab;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.logo{
    width: 50px;
    height: 50px;
    display: flex;
    margin-left: 20px;
}
.text-box{
    width: 90%;
    color: rgb(245, 236, 225);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    color: antiquewhite;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: antiquewhite;
}
.buton{
    display: inline-block;
    text-decoration: none;
    color: antiquewhite;
    border: 2px solid antiquewhite;
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.buton:hover{
    border: 2px solid rgb(182, 216, 115);
    background: rgb(182, 216, 115);
    transition: 1s;
}
nav .fa-solid{
    display: none;
}
@media(max-width:700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links ul li a{
        color: rgb(56, 79, 21);
    }
    .nav-links{
        position: absolute;
        background: yellowgreen;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa-solid{
        display: block;
        color: olivedrab;
        margin: 12px;
        font-size: 25px;
        cursor: pointer;
    }
} 
.hakkımızda{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 40px;
    font-weight: 500;
    color: rgb(211, 211, 174);
}
h3{
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: olivedrab;
}
.first{
    color: antiquewhite;
}
p{
    color:black;
    font-size: 14px;
    font-weight: 350;
    line-height: 20px;
    padding: 10px;
    text-align: center;
}
.satır{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.hakkımızda-sutn{
    border: 2px solid olive;
    background-color:  rgb(210, 230, 181);
    border-radius: 3%;
    margin: 2%;
    transform: 0.6s;
}
.hakkımızda-sutn:hover{
    box-shadow: 0 0 30px 0  greenyellow;
}
@media(max-width:700px){
    .satır{
        flex-direction: column;
    }
}
footer {
    background-color: rgb(80, 80, 11);
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
}
footer a {
    color: antiquewhite;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}
footer i {
    font-size: 25px;
    margin-right: 15px;
}
.social-icons a {
    color:antiquewhite ;
    text-decoration: none;
    margin: 0 10px;
    font-size: 20px;
}

    main {
      max-width: 100vh;
      margin: 20px auto;
      padding: 20px;
      background-color: rgb(203, 218, 174);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    article {
      margin-bottom: 20px;
    }

    article h2 {
      color: olivedrab;
    }

    article p {
      color: #555;
      text-align: center;
    }

    article .date {
      color: #888;
      font-size: 0.8em;
    }
    .fotograf{
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .main {
        max-width: 800px;
        margin: 20px auto;
        padding: 20px;
        background-color:  rgb(100, 156, 100);
        border-radius: 3%;
        box-shadow: 0 0 10px greenyellow;
      }
  
      form {
        display: flex;
        flex-direction: column;
      }
  
      label {
        margin-bottom: 8px;
      }
      input, textarea {
        margin-bottom: 16px;
        padding: 8px;
        border: 2px solid antiquewhite;
        border-radius: 4px;
      }
  
      input[type="submit"] {
        background-color: olivedrab;
        color: #fff;
        cursor: pointer;
      }
      .iltsm p{
        color: antiquewhite;
        font-weight: 500;

      }
      @media(max-width:700px){
        footer nav{
            display: block;
        }
      }





.product-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;
    margin-top: 20px;
}

.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
}

.product-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.product-info h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #45a049;
}

.product-info p {
    font-size: 1em;
    margin-bottom: 8px;
    color: antiquewhite;
}

.add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}





.cart-icon {
    position: fixed;
    cursor: pointer;
    font-size: 16px;
    margin: auto;
    color: blanchedalmond;
}
  
.shopping-cart-list{
    position: absolute;
    width: 25rem;
    right: -0.75rem;
    top: 2.9rem;
    padding: 1rem;
    z-index: 1;
}

.shopping-cart-list .list-item{
    margin-top: 1rem;
}


